<!-- Starting Lineups Content -->
<div class="team-lineup content">
  <!-- Starting Lineup Box Loader -->
  <div *ngIf="teamLineup === undefined" class="starting-lineup-loader">
    <img class="loader-image" src="/assets/images/Ripple.svg">
  </div>
  <!-- Page Wrap -->
  <div *ngIf="teamLineup !== undefined" class="page-wrap container-fluid">
    <!-- Starting Lineups Page Title -->
    <div class="team-lineup-heading-wrap col-md-8">
      <!-- Team Lineup Heading Text-->
      <div class="team-lineup-heading-text">
        <!-- Team Lineup Heading Left -->
        <div class="team-lineup-heading-left">
          <div class="team-logo" [ngClass]="{'team-logo-loading': teamLineup?.team.logo_url === null}">
            <img *ngIf="teamLineup?.team.logo_url !== null" [src]="teamLineup?.team.logo_url" />
          </div>
          <div class="team-heading-info">
            <h1 class="page-heading team-name">{{teamLineup.team.current_game_info.team_full}} Lineup</h1>
            <h4 class="page-subheading team-meta-info">
              <span class="team-record">{{teamLineup.team.record.wins}}-{{teamLineup.team.record.losses}},</span>
              <!-- Team Division Rank -->
              <span class="team-division-rank">{{teamLineup.team.record.division_rank}}GB</span>
              <span class="team-league-and-division"> in {{teamLineup.team.record.league}} {{teamLineup.team.record.division}}</span>
            </h4>
          </div>
          <div class="team-heading-lineup-state participant-lineup-state">
            <!-- Team Lineup State -->
            <div *ngIf="teamLineup.team.current_game_info.batting_order_confirmed" class="confirmed-lineup">
              <p class="lineup-state confirmed"><img src="/assets/images/green-check.png" /> Confirmed</p>
            </div>
            <div *ngIf="!teamLineup.team.current_game_info.batting_order_confirmed" class="projected-lineup">
              <p class="lineup-state projected"><img src="/assets/images/red-x.png" /> Projected</p>
            </div>
          </div>
        </div>

        <!-- Team Lineup Heading Right -->
        <div class="team-lineup-heading-right">
          <h4 class="opponent-team-name">
            <span *ngIf="teamLineup?.team.current_game_info.at_or_vs === 'at'" class="team-game-location">at</span>
            <span *ngIf="teamLineup?.team.current_game_info.at_or_vs === 'vs'" class="team-game-location">vs</span>
            <span class="opponent-team-name">{{teamLineup?.team.current_game_info.opp_full}}</span>
          </h4>
          <h4 class="event-date">{{teamLineup.team.current_game_info.game_time_dt | date:'jm'}} ({{teamLineup.team.current_game_info.game_time_dt | date:'MMM d'}})</h4>
        </div>
      </div>

      <!-- Team Lineup Heading Navigation -->
      <div class="page-heading-navigation team-lineup-heading-navigation">
        <button (click)="onSelectCurrentTeamTab()" class="page-heading-nav-btn" [ngClass]="{'active': currentTeamTabActive}">{{teamLineup?.team.current_game_info.team_name}} Lineup</button>
        <!-- TODO: Create Toggle between different teams. -->
        <button (click)="onSelectOpposingTeamTab()" class="page-heading-nav-btn" [ngClass]="{'active': opposingTeamTabActive}">{{teamLineup?.team.current_game_info.opp_name}} Lineup</button>
        <button class="page-heading-nav-btn">Matchup</button>
        <button class="page-heading-nav-btn">News</button>
        <button class="page-heading-nav-btn">Data Mining</button>
        <button class="page-heading-nav-btn">Roster</button>
        <button class="page-heading-nav-btn">Schedule</button>
      </div>

      <!-- Team Lineup Heading Actions -->
      <div class="heading-actions team-lineup-heading-actions">
        <div class="heading-actions-btn-group team-lineup-heading-btn-group btn-group">
          <div ngbDropdown class="dropdown">
            <button type="button" class="heading-btn-group-btn btn btn-secondary first-btn" id="stats-dropdown" ngbDropdownToggle>
              <span>Stats</span> <img class="down-arrow" src="/assets/images/arrow-down.png" />
            </button>
            <div class="dropdown-menu" aria-labelledby="stats-dropdown">
              <a class="dropdown-item">Action</a>
            </div>
          </div>
          <div ngbDropdown class="dropdown">
            <button type="button" class="heading-btn-group-btn btn btn-secondary" id="avg-dropdown" ngbDropdownToggle>
              <span>Average</span> <img class="down-arrow" src="/assets/images/arrow-down.png" />
            </button>
            <div class="dropdown-menu" aria-labelledby="avg-dropdown">
              <a class="dropdown-item">Action</a>
            </div>
          </div>
          <div ngbDropdown class="dropdown">
            <button type="button" class="heading-btn-group-btn btn btn-secondary last-btn" id="season-dropdown" ngbDropdownToggle>
              <span>Season</span> <img class="down-arrow" src="/assets/images/arrow-down.png" />
            </button>
            <div class="dropdown-menu" aria-labelledby="season-dropdown">
              <a class="dropdown-item">Action</a>
            </div>
          </div>
        </div>
        <div class="heading-action-cta-wrapper">
          <button class="heading-action-cta-btn dark-purple btn">
            <img src="/assets/images/icon-video.png" /> How it works
          </button>
        </div>
      </div>

    </div> <!-- END: Team Lineup Heading Wrap -->

    <!-- Team Lineup Contents -->
    <div *ngIf="currentTeamTabActive" class="selected-team-lineup-contents">
      <!-- Starting Lineup -->
      <div class="starting-lineup-section">
        <div class="team-lineup-starting-header">
          <h1 class="page-heading-two">Starting Lineup</h1>
        </div>
        <!-- Starting Pitcher Data -->
        <div class="starting-pitcher-data">
          <!-- Starting Pitcher Table -->
          <table class="table table-bordered starting-pitcher-table stats-table">
            <thead>
            <tr>
              <th>Pos</th>
              <th class="player-name-col">Pitcher</th>
              <th>Rating</th>
              <th>GS</th>
              <th>Record</th>
              <th>IP</th>
              <th>Batters Faced</th>
              <th>Hits</th>
              <th>Runs</th>
              <th>ER</th>
              <th>HR Allowed</th>
              <th>BB</th>
              <th>SO</th>
              <th>K%</th>
              <th>BB%</th>
              <th>WHIP</th>
              <th>BABIP</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row" class="player-position">{{teamLineup.starting_pitcher.position}}</td>
                <td class="player-name-col">
                  <span class="pitcher-name-text">{{teamLineup.starting_pitcher.name}}</span>
                  <span class="pitcher-throwing-hand-text">({{teamLineup.starting_pitcher.throwing_hand}})</span>
                </td>
                <td>
                  <span class="rating"
                        [ngClass]="{'green': teamLineup.starting_pitcher.rating >= 8,
                                    'yellow': teamLineup.starting_pitcher.rating < 8,
                                    'red': teamLineup.starting_pitcher.rating < 6}">{{teamLineup?.starting_pitcher.rating}}</span>
                </td>
                <td>{{teamLineup.starting_pitcher.basic.season.games_started}}</td>
                <td>{{teamLineup.starting_pitcher.basic.season.wins}}-{{teamLineup.starting_pitcher.basic.season.losses}}</td>
                <td>{{teamLineup.starting_pitcher.basic.season.innings_pitched}}</td>
                <td>{{teamLineup.starting_pitcher.basic.season.tbf}}</td>
                <td>{{teamLineup.starting_pitcher.basic.season.hits}}</td>
                <td>{{teamLineup.starting_pitcher.basic.season.runs}}</td>
                <td>{{teamLineup.starting_pitcher.basic.season.earned_runs}}</td>
                <td>{{teamLineup.starting_pitcher.basic.season.home_runs}}</td>
                <td>{{teamLineup.starting_pitcher.basic.season.walks}}</td>
                <td>{{teamLineup.starting_pitcher.basic.season.strikeouts}}</td>
                <td>{{teamLineup.starting_pitcher.basic.season.strikeout_pct | number:0}}%</td>
                <td>{{teamLineup.starting_pitcher.basic.season.walk_pct | number:0}}%</td>
                <td>{{teamLineup.starting_pitcher.basic.season.whip}}</td>
                <td>{{teamLineup.starting_pitcher.basic.season.babip}}</td>
              </tr>
            </tbody>
          </table>

          <!-- Bullpen Pitcher Table -->
          <table *ngIf="bullpenTableActive" class="table table-bordered bullpen-pitcher-table stats-table">
            <thead>
            <tr>
              <th>Pos</th>
              <th class="player-name-col">Pitcher</th>
              <th>Rating</th>
              <th>GS</th>
              <th>Record</th>
              <th>IP</th>
              <th>Batters Faced</th>
              <th>Hits</th>
              <th>Runs</th>
              <th>ER</th>
              <th>HR Allowed</th>
              <th>BB</th>
              <th>SO</th>
              <th>K%</th>
              <th>BB%</th>
              <th>WHIP</th>
              <th>BABIP</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let benchPitcher of teamLineup.bench_pitchers">
                <td scope="row" class="player-position">{{benchPitcher.position}}</td>
                <td class="player-name-col">
                  <span class="pitcher-name-text">{{benchPitcher.name}}</span>
                  <span class="pitcher-throwing-hand-text">({{benchPitcher.throwing_hand}})</span>
                </td>
                <td>
                    <span class="rating"
                          [ngClass]="{
                            'green': benchPitcher.rating >= 8,
                            'yellow': benchPitcher.rating < 8,
                            'red': benchPitcher.rating < 6
                            }">{{benchPitcher.rating}}</span>
                </td>
                <td>{{benchPitcher.basic.season.games_started}}</td>
                <td>{{benchPitcher.basic.season.wins}}-{{benchPitcher.basic.season.losses}}</td>
                <td>{{benchPitcher.basic.season.innings_pitched}}</td>
                <td>{{benchPitcher.basic.season.tbf}}</td>
                <td>{{benchPitcher.basic.season.hits}}</td>
                <td>{{benchPitcher.basic.season.runs}}</td>
                <td>{{benchPitcher.basic.season.earned_runs}}</td>
                <td>{{benchPitcher.basic.season.home_runs}}</td>
                <td>{{benchPitcher.basic.season.walks}}</td>
                <td>{{benchPitcher.basic.season.strikeouts}}</td>
                <td>{{benchPitcher.basic.season.strikeout_pct | number:0}}%</td>
                <td>{{benchPitcher.basic.season.walk_pct | number:0}}%</td>
                <td>{{benchPitcher.basic.season.whip}}</td>
                <td>
                  <span *ngIf="benchPitcher.basic.season.babip !== null" class="babip">{{benchPitcher.basic.season.babip}}</span>
                  <span *ngIf="benchPitcher.basic.season.babip === null" class="babip">N/A</span>
                </td>
              </tr>
            </tbody>
          </table> <!-- END: Bullpen Pitcher Table -->
          <!-- Bullpen Pitcher Table Reveal Toggle Button -->
          <button (click)="onOpenBullpenTable()" class="btn light-gray bullpen bench">
            <span *ngIf="!bullpenTableActive" class="btn-open-plus">+</span>
            <span *ngIf="bullpenTableActive" class="btn-close-minus">-</span>
            <span class="button-text">Bullpen</span>
          </button>
        </div>

        <!-- Starting Hitters Data -->
        <div class="starting-hitters-data">
          <table class="table table-bordered starting-hitters-table stats-table">
            <thead>
            <tr>
              <th>Pos</th>
              <th class="player-name-col">Pitcher</th>
              <th>Rating</th>
              <th>Order</th>
              <th>G</th>
              <th>PA</th>
              <th>Hits</th>
              <th>1B</th>
              <th>2B</th>
              <th>3B</th>
              <th>HR</th>
              <th>RBI</th>
              <th>Runs</th>
              <th>SB</th>
              <th>CS</th>
              <th>AVG</th>
              <th>OBP</th>
              <th>SLG</th>
              <th>OPS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let startingHitter of teamLineup.starting_hitters">
              <td scope="row" class="player-position">{{startingHitter.position}}</td>
              <td class="player-name-col">{{startingHitter.name}}</td>
              <td>
                <span class="rating"
                      [ngClass]="{
                        'green': startingHitter.rating >= 8,
                        'yellow': startingHitter.rating < 8,
                        'red': startingHitter.rating < 6
                        }">{{startingHitter.rating}}</span>
              </td>
              <td>{{startingHitter.batting_order}}</td>


              <!-- PLACEHOLDER CODE -->
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>


              <!-- TODO: RE-IMPLEMENT REAL CODE -->
              <!--<td>&lt;!&ndash;<span *ngIf="startingHitter.basic.season.games === undefined" class="starting-hitter-season-games">N/A</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span *ngIf="startingHitter.basic.season.games !== undefined" class="starting-hitter-season-games">{{startingHitter.basic.season.games}}</span>&ndash;&gt;</td>-->
              <!--<td>{{hitter.basic.season.plate_appearances}}</td>-->
              <!--<td>{{hitter.basic.season.hits}}</td>-->
              <!--<td>{{hitter.basic.season.singles}}</td>-->
              <!--<td scope="row">{{hitter.basic.season.doubles}}</td>-->
              <!--<td>{{hitter.basic.season.triples}}</td>-->
              <!--<td>{{hitter.basic.season.home_runs}}</td>-->
              <!--<td scope="row">{{hitter.basic.season.rbis}}</td>-->
              <!--<td>{{hitter.basic.season.runs}}</td>-->
              <!--<td>{{hitter.basic.season.stolen_bases}}</td>-->
              <!--<td>{{hitter.basic.season.caught_stealing}}</td>-->
              <!--<td>{{hitter.basic.season.batting_average}}</td>-->
              <!--<td>{{hitter.basic.season.obp}}</td>-->
              <!--<td>{{hitter.basic.season.slg}}</td>-->
              <!--<td>{{hitter.basic.season.ops}}</td>-->
            </tr>
            </tbody>
          </table>

          <!-- Bench Hitters Table -->
          <table *ngIf="benchTableActive" class="table table-bordered bench-hitters-table stats-table">
            <thead>
            <tr>
              <th>Pos</th>
              <th class="player-name-col">Pitcher</th>
              <th>Rating</th>
              <th>Order</th>
              <th>G</th>
              <th>PA</th>
              <th>Hits</th>
              <th>1B</th>
              <th>2B</th>
              <th>3B</th>
              <th>HR</th>
              <th>RBI</th>
              <th>Runs</th>
              <th>SB</th>
              <th>CS</th>
              <th>AVG</th>
              <th>OBP</th>
              <th>SLG</th>
              <th>OPS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let benchHitter of teamLineup.bench_hitters">
              <td scope="row" class="player-position">{{benchHitter.position}}</td>
              <td class="player-name-col">{{benchHitter.name}}</td>
              <td>
                <span class="rating"
                      [ngClass]="{
                        'green': benchHitter.rating >= 8,
                        'yellow': benchHitter.rating < 8,
                        'red': benchHitter.rating < 6
                        }">{{benchHitter.rating}}</span>
              </td>
              <td>{{benchHitter.batting_order}}</td>
              <td scope="row">{{benchHitter.basic.season.games}}</td>
              <td>{{benchHitter.basic.season.plate_appearances}}</td>
              <td>{{benchHitter.basic.season.hits}}</td>
              <td>{{benchHitter.basic.season.singles}}</td>
              <td scope="row">{{benchHitter.basic.season.doubles}}</td>
              <td>{{benchHitter.basic.season.triples}}</td>
              <td>{{benchHitter.basic.season.home_runs}}</td>
              <td scope="row">{{benchHitter.basic.season.rbis}}</td>
              <td>{{benchHitter.basic.season.runs}}</td>
              <td>{{benchHitter.basic.season.stolen_bases}}</td>
              <td>{{benchHitter.basic.season.caught_stealing}}</td>
              <td>{{benchHitter.basic.season.batting_average}}</td>
              <td>{{benchHitter.basic.season.obp}}</td>
              <td>{{benchHitter.basic.season.slg}}</td>
              <td>{{benchHitter.basic.season.ops}}</td>
            </tr>
            </tbody>
          </table> <!-- END: Bench Hitters Table -->

          <!-- Open Bench Table Toggle Button-->
          <button (click)="onOpenBenchTable()" class="btn light-gray bullpen bench">
            <span *ngIf="!benchTableActive" class="btn-open-plus">+</span>
            <span *ngIf="benchTableActive" class="btn-close-minus">-</span>
            Bench
          </button>
        </div>

      </div>
      <!-- Most Common Lineups Section -->
      <div class="starting-lineup-section">
        <div class="team-lineup-starting-header">
          <div class="page-heading-two">Most Common Lineups</div>
        </div>
        <!-- Most Common Lineups Table -->
        <table class="col-table table-text-left most-common-lineups-table stats-col-table">
          <tr>
            <!-- 1/6-->
            <td>
              <table class="col-table-inner-table table-bordered col-table-first">
                <thead>
                <tr>
                  <td>4 Games</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let player of teamLineup.team.common_lineups[0].lineup;">
                  <td>
                    <span class="player-batting-order">{{player.batting_order}}.</span>
                    <span class="player-name">{{player.name}}</span>
                    <span class="player-batting-hand">(*R)</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
            <!-- 2/6-->
            <td>
              <table class="col-table-inner-table table-bordered">
                <thead>
                <tr>
                  <td>3 Games</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let player of teamLineup.team.common_lineups[1].lineup;">
                  <td>
                    <span class="player-batting-order">{{player.batting_order}}.</span>
                    <span class="player-name">{{player.name}}</span>
                    <span class="player-batting-hand">(*R)</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
            <!-- 3/6-->
            <td>
              <table class="col-table-inner-table table-bordered">
                <thead>
                <tr>
                  <td>2 Games</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let player of teamLineup.team.common_lineups[2].lineup;">
                  <td>
                    <span class="player-batting-order">{{player.batting_order}}.</span>
                    <span class="player-name">{{player.name}}</span>
                    <span class="player-batting-hand">(*R)</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
            <!-- 4/6-->
            <td>
              <table class="col-table-inner-table table-bordered">
                <thead>
                <tr>
                  <td>2 Games</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let player of teamLineup.team.common_lineups[3].lineup;">
                  <td>
                    <span class="player-batting-order">{{player.batting_order}}.</span>
                    <span class="player-name">{{player.name}}</span>
                    <span class="player-batting-hand">(*R)</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
            <!-- 5/6-->
            <td>
              <table class="col-table-inner-table table-bordered">
                <thead>
                <tr>
                  <td>2 Games</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let player of teamLineup.team.common_lineups[4].lineup;">
                  <td>
                    <span class="player-batting-order">{{player.batting_order}}.</span>
                    <span class="player-name">{{player.name}}</span>
                    <span class="player-batting-hand">(*R)</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
            <!-- 6/6-->
            <td>
              <table class="col-table-inner-table table-bordered">
                <thead>
                <tr>
                  <td>2 Games</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let player of teamLineup.team.common_lineups[5].lineup;">
                  <td>
                    <span class="player-batting-order">{{player.batting_order}}.</span>
                    <span class="player-name">{{player.name}}</span>
                    <span class="player-batting-hand">(*R)</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table> <!-- END: Most Common Lineups Table -->

      </div>
      <!-- Current Year Lineups -->
      <div class="starting-lineup-section">
        <div class="team-lineup-starting-header">
          <div class="page-heading-two fluid-heading">{{selectedYear}} Lineups</div>
          <!-- Yearly -->
          <div ngbDropdown class="dropdown page-heading-right-dropdown">
            <button type="button" class="page-heading-dropdown btn btn-secondary" id="statYearSelect" ngbDropdownToggle>
              <span>{{selectedYear}}</span> <img class="down-arrow" src="/assets/images/arrow-down.png" />
            </button>
            <div class="dropdown-menu" aria-labelledby="statYearSelect">
              <a class="dropdown-item">Action</a>
            </div>
          </div>
        </div>
        <!-- Yearly Lineups Table -->
        <table class="table table-bordered most-common-lineups-table stats-table">
          <thead>
          <tr>
            <th>Game</th>
            <th>Score</th>
            <th>Starting Pitcher</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
              <td>00</td>
          </tr>
          </tbody>
        </table> <!-- END: Yearly Lineups Table -->
      </div>

    </div><!-- END: Selected Team Contents [currentTeamTabActive] -->

    <div *ngIf="opposingTeamTabActive" class="opposing-team-contents">
      <!-- Starting Lineup -->
      <div class="starting-lineup-section">
        <div class="team-lineup-starting-header">
          <h1 class="page-heading-two">Starting Lineup ** Opposing **</h1>
        </div>
      </div>
    </div>
  </div>
</div>
