<div class="matchup">

  <div class="matchup-header light-bg">
    <div class="row">

      <div class="col-4">
        <div class="media">
          <div class="media-body text-right">
            <h5 class="mt-0">
              <span class="matchup-status confirmed mr-3" *ngIf="data.away_lineup_confirmed">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                Confirmed
              </span>
              <span class="matchup-status rejected mr-3" *ngIf="!data.away_lineup_confirmed">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                Projected
              </span>
              {{data.away_team_full}}
            </h5>
            <p>29-36, 4th in NL East</p>
            <p style="font-size: 14px;">{{data.away_pitcher_name}} ({{data.away_pitcher_hand}}), {{data.away_pitcher_wins}}-{{data.away_pitcher_losses}}, {{data.away_pitcher_era | number : '1.2-2'}} ERA</p>
          </div>
          <img class="d-flex ml-3 logo rounded" [src]="data.away_logo" alt="">
        </div>
      </div>

      <div class="col-4 text-center">
        <h5 class="mt-0">{{data.date_time | date:'shortTime'}}</h5>
        <p>{{data.away_team}} @ {{data.home_team}}</p>
        <p>{{data.rain}}% Rain, {{data.risk}}, Wind: {{data.forecast_wind_speed}} mph</p>
      </div>

      <div class="col-4">
        <div class="media">
          <img class="d-flex mr-3 logo rounded" [src]="data.home_logo" alt="">
          <div class="media-body">
            <h5 class="mt-0">
              {{data.home_team_full}}
              <span class="matchup-status confirmed ml-3" *ngIf="data.home_lineup_confirmed">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                Confirmed
              </span>
              <span class="matchup-status rejected ml-3" *ngIf="!data.home_lineup_confirmed">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                Projected
              </span>
            </h5>
            <p>29-36, 4th in NL East</p>
            <p style="font-size: 14px;">{{data.home_pitcher_name}} ({{data.home_pitcher_hand}}), {{data.home_pitcher_wins}}-{{data.home_pitcher_losses}}, {{data.home_pitcher_era | number : '1.2-2'}} ERA</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="matchup-table-container">
    <div class="matchup-table-content">
      <div class="matchup-stats-header grey-bg container-fluid">
        <div class="row" style="min-height: 30px;">

          <div class="col-4 text-center bordered-right">
            <div class="row h-100">
              <div class="col-12 my-auto">
                <span>Game</span>
              </div>
            </div>
          </div>

          <div class="col-4 bordered-right">
            <div class="row h-100">

              <div class="col-5 bordered-right">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="row h-100">
                      <div class="col-12 my-auto text-center">
                        <span>Team Totals</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-7">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="row h-100">
                      <div class="col-12 my-auto text-center">
                        <span>Over/Under</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-4 text-center my-auto">
            <span>Moneyline</span>
          </div>

        </div>
      </div>

      <div class="matchup-stats-sub-header light-grey-bg container-fluid">
        <div class="row" style="min-height: 30px;">

          <div class="col-4 bordered-right">
            <div class="row h-100">

              <div class="col-6 my-auto">
                <span>Game</span>
              </div>

              <div class="col-3 my-auto text-center">
                <span>Hitters Rating</span>
              </div>

              <div class="col-3">
                <div class="row h-100">
                  <div class="col-12 my-auto text-center">
                    <span>Pitchers Rating</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-4 bordered-right">
            <div class="row h-100">

              <div class="col-5 bordered-right">
                <div class="row h-100">

                  <div class="col-6 text-center my-auto">
                    <span>Open</span>
                  </div>

                  <div class="col-6 text-center my-auto">
                    <span>Live</span>
                  </div>

                </div>
              </div>

              <div class="col-7">
                <div class="row h-100">

                  <div class="col-6 text-center my-auto">
                    <span>Open</span>
                  </div>

                  <div class="col-6 text-center my-auto">
                    <span>Live</span>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="col-4">
            <div class="row h-100">

              <div class="col-2 text-center my-auto">
                <span>Open</span>
              </div>

              <div class="col-2 text-center my-auto">
                <span>Live</span>
              </div>

              <div class="col-4 text-center my-auto">
                <span>Line Movement</span>
              </div>

              <div class="col-4 text-center my-auto">
                <span>Reverse Lines</span>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="matchup-stats-content light-bg container-fluid">
        <div class="row">

          <div class="col-2 bordered-right">
            <div class="row h-100">

              <div class="col-12">
                <div class="row h-100 bordered-bottom">
                  <div class="col-12 my-auto">
                    {{data.home_team_full}}
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="row h-100">
                  <div class="col-12 my-auto">
                    {{data.away_team_full}}
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-2 bordered-right">
            <div class="row h-100">

              <div class="col-12">
                <div class="row h-100 bordered-bottom">

                  <div class="col-6 bordered-right">
                    <div class="row h-100">
                      <div class="col-12 my-auto text-center">
                        <span [ngClass]="setColorRatingClass(data.home_hitter_rating)">{{data.home_hitter_rating}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 my-auto text-center">
                    <span [ngClass]="setColorRatingClass(data.home_pitcher_rating)">{{data.home_pitcher_rating}}</span>
                  </div>

                </div>
              </div>

              <div class="col-12">
                <div class="row h-100">

                  <div class="col-6 bordered-right">
                    <div class="row h-100">
                      <div class="col-12 my-auto text-center">
                        <span [ngClass]="setColorRatingClass(data.away_hitter_rating)">{{data.away_hitter_rating}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 my-auto text-center">
                    <span [ngClass]="setColorRatingClass(data.away_pitcher_rating)">{{data.away_pitcher_rating}}</span>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="col-4 bordered-right">
            <div class="row h-100">

              <div class="col-5 bordered-right">
                <div class="row h-100">

                  <div class="col-12">
                    <div class="row h-100 bordered-bottom">

                      <div class="col-6 bordered-right">
                        <div class="row h-100">
                          <div class="col-12 text-center my-auto">
                            <span>{{data.home_team_total_open | number: '1.0-0'}}</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="row h-100">
                          <div class="col-12 text-center my-auto">
                            <span>{{data.home_team_total_live | number: '1.0-0'}}</span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="col-12">
                    <div class="row h-100">

                      <div class="col-6 bordered-right">
                        <div class="row h-100">
                          <div class="col-12 text-center my-auto">
                            <span>{{data.away_team_total_open | number: '1.0-0'}}</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="row h-100">
                          <div class="col-12 text-center my-auto">
                            <span>{{data.away_team_total_live | number: '1.0-0'}}</span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

              <div class="col-7">
                <div class="row h-100">

                  <div class="col-6  bordered-right">
                    <div class="row h-100">
                      <div class="col-12 text-center my-auto">
                        <span>{{data.over_under}} runs</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 text-center my-auto">
                    <span>{{data.over_under_live}} runs</span>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="col-4">
            <div class="row h-100">

              <div class="col-4">
                <div class="row h-100">

                  <div class="col-12">
                    <div class="row h-100 bordered-bottom">
                      <div class="col-6 bordered-right">
                        <div class="row h-100">
                          <div class="col-12 text-center my-auto">
                            <span>{{data.home_team_money_line | positive}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 bordered-right">
                        <div class="row h-100">
                          <div class="col-12 text-center my-auto">
                            <span>{{data.home_team_money_line_live | positive}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="row h-100">
                      <div class="col-6 bordered-right">
                        <div class="row h-100">
                          <div class="col-12 text-center my-auto">
                            <span>{{data.away_team_money_line | positive}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 bordered-right">
                        <div class="row h-100">
                          <div class="col-12 text-center my-auto">
                            <span>{{data.away_team_money_line_live | positive}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-4">
                <div class="row h-100">

                  <div class="col-12" style="cursor: pointer" (click)="onLineClick()">
                    <div class="row h-100 bordered-bottom bordered-right">
                      <div class="col-12 my-auto text-center">

                      </div>
                    </div>
                  </div>

                  <div class="col-12" style="cursor: pointer" (click)="onLineClick()">
                    <div class="row h-100 bordered-right">
                      <div class="col-12 my-auto text-center">

                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-4">
                <div class="row h-100">

                  <div class="col-12">
                    <div class="row h-100 bordered-bottom">
                      <div class="col-12 my-auto text-center">
                        {{data.home_rlm ? 'Yes' : 'No'}}
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="row h-100">
                      <div class="col-12 my-auto text-center">
                        {{data.away_rlm ? 'Yes' : 'No'}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

