<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <a class="logo-font" routerLink="/">MLB</a>
      </div>
      <div class="col">
        <a class="logo-font" routerLink="/">NFL</a>
      </div>
      <div class="col">
        <a class="logo-font" routerLink="/">Betting</a>
      </div>
      <div class="col">
        <a class="logo-font" routerLink="/">Fantasy</a>
      </div>
      <div class="col">
        <a class="logo-font" routerLink="/">Data Mining</a>
      </div>
      <div class="col">
        <a class="logo-font" routerLink="/">Simulations</a>
      </div>
      <div class="col">
        <a class="logo-font" routerLink="/">Articles</a>
      </div>
      <div class="col">
        <a class="logo-font" routerLink="/">Pricing</a>
      </div>
      <div class="col">
        <a  href="#"><img src="http://res.cloudinary.com/dvtp41gsb/image/upload/v1501009253/Twitter_Logo_White_On_Image2_fyz7oc.png" class="img-fluid social-icons"></a>
        <a href="#"><img src="http://res.cloudinary.com/dvtp41gsb/image/upload/v1501008086/FB-f-Logo__white_29_zk24de.png" class="social-icons img-fluid"></a>
        <a href="#"><img src="http://res.cloudinary.com/dvtp41gsb/image/upload/v1501008185/YouTube-icon-full_color_aozuj6.png" class="social-icons img-fluid"></a>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <a class="logo-font" routerLink="/">Lineups</a>
      </div>

    </div>
    <div class="row text-center">
      <div class="col">
        <span class="attribution">
          Copyright &copy; {{ today | date: 'yyyy' }} Lineups
        </span>
      </div>

    </div>
  </div>
</footer>
