<div id="scorebar-container">


      <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
        <div class="row">
          <div class="col">
            asdsad
          </div>
        <div ngxSlickItem *ngFor="let game of scorebar" class="slide">
          <div class="col">
            <div class="row">
              <div class="col">
                <span class="team_stats"> {{ game.date_time | date:'shortTime' }} </span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <span class="team_stats">{{ game.away_team.abbr }}</span>
              </div>
              <div class="col-sm-6">
                <span class="team_stats">{{ game.away_team.wins }} - {{ game.away_team.losses }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <span class="team_stats">{{ game.home_team.abbr }}</span>
              </div>
              <div class="col-sm-6">
                <span class="team_stats">{{ game.home_team.wins }} - {{ game.home_team.losses }}</span>
              </div>
            </div>
          </div>
        </div>
          <div class="col">
            asdsad
          </div>
        </div>
      </ngx-slick>


</div>
