#scorebar-container {
  background: #fff;
  height: 5.5rem;
}
/* You can add global styles to this file, and also import other style files */
.team_stats {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 0.5rem;
}
