<div class="home-page">

  <div class="banner">
    <div class="container">
      <p>REAL-TIME LINEUPS FUELED BY DATA SCIENCE</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link">
                 MLB
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                 NFL
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 (click)="onNavigateToTeamLineup(staticTeamName)">Team Lineup</a>
          </ul>
        </div>

      </div>

    </div>
  </div>
</div>
