<!-- Starting Lineup Box Loader -->
<!--<div *ngIf="teamLineup === undefined" class="starting-lineup-loader">-->
  <!--<img class="loader-image" src="/assets/images/Ripple.svg">-->
<!--</div>-->
<!-- Team Lineup Contents -->
<div *ngIf="teamLineup !== undefined" class="selected-team-lineup-contents">
  <!-- Starting Lineup -->
  <div class="starting-lineup-section">
    <div class="team-lineup-starting-header">
      <h1 class="page-heading-two">Starting Lineup</h1>
    </div>
    <!-- Starting Pitcher Data -->
    <div class="starting-pitcher-data">
      <!-- Starting Pitcher Table -->
      <table class="table table-bordered starting-pitcher-table stats-table">
        <thead>
        <tr>
          <th>Pos</th>
          <th class="player-name-col">Pitcher</th>
          <th>Rating</th>
          <th>GS</th>
          <th>Record</th>
          <th>IP</th>
          <th>Batters Faced</th>
          <th>Hits</th>
          <th>Runs</th>
          <th>ER</th>
          <th>HR Allowed</th>
          <th>BB</th>
          <th>SO</th>
          <th>K%</th>
          <th>BB%</th>
          <th>WHIP</th>
          <th>BABIP</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td scope="row" class="player-position">{{teamLineup.starting_pitcher.position}}</td>
          <td class="player-name-col">
            <span class="pitcher-name-text">{{teamLineup.starting_pitcher.name}}</span>
            <span class="pitcher-throwing-hand-text">({{teamLineup.starting_pitcher.throwing_hand}})</span>
          </td>
          <td>
                  <span class="rating"
                        [ngClass]="{'green': teamLineup.starting_pitcher.rating >= 8,
                                    'yellow': teamLineup.starting_pitcher.rating < 8,
                                    'red': teamLineup.starting_pitcher.rating < 6}">{{teamLineup?.starting_pitcher.rating}}</span>
          </td>
          <td>{{teamLineup.starting_pitcher.basic.season.games_started}}</td>
          <td>{{teamLineup.starting_pitcher.basic.season.wins}}-{{teamLineup.starting_pitcher.basic.season.losses}}</td>
          <td>{{teamLineup.starting_pitcher.basic.season.innings_pitched}}</td>
          <td>{{teamLineup.starting_pitcher.basic.season.tbf}}</td>
          <td>{{teamLineup.starting_pitcher.basic.season.hits}}</td>
          <td>{{teamLineup.starting_pitcher.basic.season.runs}}</td>
          <td>{{teamLineup.starting_pitcher.basic.season.earned_runs}}</td>
          <td>{{teamLineup.starting_pitcher.basic.season.home_runs}}</td>
          <td>{{teamLineup.starting_pitcher.basic.season.walks}}</td>
          <td>{{teamLineup.starting_pitcher.basic.season.strikeouts}}</td>
          <td>{{teamLineup.starting_pitcher.basic.season.strikeout_pct | number:0}}%</td>
          <td>{{teamLineup.starting_pitcher.basic.season.walk_pct | number:0}}%</td>
          <td>{{teamLineup.starting_pitcher.basic.season.whip}}</td>
          <td>{{teamLineup.starting_pitcher.basic.season.babip}}</td>
        </tr>
        </tbody>
      </table>

      <!-- Bullpen Pitcher Table -->
      <table *ngIf="bullpenTableActive" class="table table-bordered bullpen-pitcher-table stats-table">
        <thead>
        <tr>
          <th>Pos</th>
          <th class="player-name-col">Pitcher</th>
          <th>Rating</th>
          <th>GS</th>
          <th>Record</th>
          <th>IP</th>
          <th>Batters Faced</th>
          <th>Hits</th>
          <th>Runs</th>
          <th>ER</th>
          <th>HR Allowed</th>
          <th>BB</th>
          <th>SO</th>
          <th>K%</th>
          <th>BB%</th>
          <th>WHIP</th>
          <th>BABIP</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let benchPitcher of teamLineup.bench_pitchers">
          <td scope="row" class="player-position">{{benchPitcher.position}}</td>
          <td class="player-name-col">
            <span class="pitcher-name-text">{{benchPitcher.name}}</span>
            <span class="pitcher-throwing-hand-text">({{benchPitcher.throwing_hand}})</span>
          </td>
          <td>
                    <span class="rating"
                          [ngClass]="{
                            'green': benchPitcher.rating >= 8,
                            'yellow': benchPitcher.rating < 8,
                            'red': benchPitcher.rating < 6
                            }">{{benchPitcher.rating}}</span>
          </td>
          <td>{{benchPitcher.basic.season.games_started}}</td>
          <td>{{benchPitcher.basic.season.wins}}-{{benchPitcher.basic.season.losses}}</td>
          <td>{{benchPitcher.basic.season.innings_pitched}}</td>
          <td>{{benchPitcher.basic.season.tbf}}</td>
          <td>{{benchPitcher.basic.season.hits}}</td>
          <td>{{benchPitcher.basic.season.runs}}</td>
          <td>{{benchPitcher.basic.season.earned_runs}}</td>
          <td>{{benchPitcher.basic.season.home_runs}}</td>
          <td>{{benchPitcher.basic.season.walks}}</td>
          <td>{{benchPitcher.basic.season.strikeouts}}</td>
          <td>{{benchPitcher.basic.season.strikeout_pct | number:0}}%</td>
          <td>{{benchPitcher.basic.season.walk_pct | number:0}}%</td>
          <td>{{benchPitcher.basic.season.whip}}</td>
          <td>
            <span *ngIf="benchPitcher.basic.season.babip !== null" class="babip">{{benchPitcher.basic.season.babip}}</span>
            <span *ngIf="benchPitcher.basic.season.babip === null" class="babip">N/A</span>
          </td>
        </tr>
        </tbody>
      </table> <!-- END: Bullpen Pitcher Table -->
      <!-- Bullpen Pitcher Table Reveal Toggle Button -->
      <button (click)="onOpenBullpenTable()" class="btn light-gray bullpen bench">
        <span *ngIf="!bullpenTableActive" class="btn-open-plus">+</span>
        <span *ngIf="bullpenTableActive" class="btn-close-minus">-</span>
        <span class="button-text">Bullpen</span>
      </button>
    </div>

    <!-- Starting Hitters Data -->
    <div class="starting-hitters-data">
      <table class="table table-bordered starting-hitters-table stats-table">
        <thead>
        <tr>
          <th>Pos</th>
          <th class="player-name-col">Pitcher</th>
          <th>Rating</th>
          <th>Order</th>
          <th>G</th>
          <th>PA</th>
          <th>Hits</th>
          <th>1B</th>
          <th>2B</th>
          <th>3B</th>
          <th>HR</th>
          <th>RBI</th>
          <th>Runs</th>
          <th>SB</th>
          <th>CS</th>
          <th>AVG</th>
          <th>OBP</th>
          <th>SLG</th>
          <th>OPS</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let startingHitter of teamLineup.starting_hitters">
          <td scope="row" class="player-position">{{startingHitter.position}}</td>
          <td class="player-name-col">{{startingHitter.name}}</td>
          <td>
                <span class="rating"
                      [ngClass]="{
                        'green': startingHitter.rating >= 8,
                        'yellow': startingHitter.rating < 8,
                        'red': startingHitter.rating < 6
                        }">{{startingHitter.rating}}</span>
          </td>
          <td>{{startingHitter.batting_order}}</td>


          <!-- PLACEHOLDER CODE -->
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>
          <td>00</td>


          <!-- TODO: RE-IMPLEMENT REAL CODE --- THERE WAS AN ERROR FROM THE JSON -->
          <!--<td>-->
            <!--<span *ngIf="startingHitter.basic.season.games === undefined" class="starting-hitter-season-games">N/A</span>-->
            <!--<span *ngIf="startingHitter.basic.season.games !== undefined" class="starting-hitter-season-games">{{startingHitter.basic.season.games}}</span>-->
          <!--</td>-->
          <!--<td>{{hitter.basic.season.plate_appearances}}</td>-->
          <!--<td>{{hitter.basic.season.hits}}</td>-->
          <!--<td>{{hitter.basic.season.singles}}</td>-->
          <!--<td scope="row">{{hitter.basic.season.doubles}}</td>-->
          <!--<td>{{hitter.basic.season.triples}}</td>-->
          <!--<td>{{hitter.basic.season.home_runs}}</td>-->
          <!--<td scope="row">{{hitter.basic.season.rbis}}</td>-->
          <!--<td>{{hitter.basic.season.runs}}</td>-->
          <!--<td>{{hitter.basic.season.stolen_bases}}</td>-->
          <!--<td>{{hitter.basic.season.caught_stealing}}</td>-->
          <!--<td>{{hitter.basic.season.batting_average}}</td>-->
          <!--<td>{{hitter.basic.season.obp}}</td>-->
          <!--<td>{{hitter.basic.season.slg}}</td>-->
          <!--<td>{{hitter.basic.season.ops}}</td>-->
        </tr>
        </tbody>
      </table>

      <!-- Bench Hitters Table -->
      <table *ngIf="benchTableActive" class="table table-bordered bench-hitters-table stats-table">
        <thead>
        <tr>
          <th>Pos</th>
          <th class="player-name-col">Pitcher</th>
          <th>Rating</th>
          <th>Order</th>
          <th>G</th>
          <th>PA</th>
          <th>Hits</th>
          <th>1B</th>
          <th>2B</th>
          <th>3B</th>
          <th>HR</th>
          <th>RBI</th>
          <th>Runs</th>
          <th>SB</th>
          <th>CS</th>
          <th>AVG</th>
          <th>OBP</th>
          <th>SLG</th>
          <th>OPS</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let benchHitter of teamLineup.bench_hitters">
          <td scope="row" class="player-position">{{benchHitter.position}}</td>
          <td class="player-name-col">{{benchHitter.name}}</td>
          <td>
                <span class="rating"
                      [ngClass]="{
                        'green': benchHitter.rating >= 8,
                        'yellow': benchHitter.rating < 8,
                        'red': benchHitter.rating < 6
                        }">{{benchHitter.rating}}</span>
          </td>
          <td>{{benchHitter.batting_order}}</td>
          <td scope="row">{{benchHitter.basic.season.games}}</td>
          <td>{{benchHitter.basic.season.plate_appearances}}</td>
          <td>{{benchHitter.basic.season.hits}}</td>
          <td>{{benchHitter.basic.season.singles}}</td>
          <td scope="row">{{benchHitter.basic.season.doubles}}</td>
          <td>{{benchHitter.basic.season.triples}}</td>
          <td>{{benchHitter.basic.season.home_runs}}</td>
          <td scope="row">{{benchHitter.basic.season.rbis}}</td>
          <td>{{benchHitter.basic.season.runs}}</td>
          <td>{{benchHitter.basic.season.stolen_bases}}</td>
          <td>{{benchHitter.basic.season.caught_stealing}}</td>
          <td>{{benchHitter.basic.season.batting_average}}</td>
          <td>{{benchHitter.basic.season.obp}}</td>
          <td>{{benchHitter.basic.season.slg}}</td>
          <td>{{benchHitter.basic.season.ops}}</td>
        </tr>
        </tbody>
      </table> <!-- END: Bench Hitters Table -->

      <!-- Open Bench Table Toggle Button-->
      <button (click)="onOpenBenchTable()" class="btn light-gray bullpen bench">
        <span *ngIf="!benchTableActive" class="btn-open-plus">+</span>
        <span *ngIf="benchTableActive" class="btn-close-minus">-</span>
        Bench
      </button>
    </div>

  </div>
  <!-- Most Common Lineups Section -->
  <div class="starting-lineup-section">
    <div class="team-lineup-starting-header">
      <div class="page-heading-two">Most Common Lineups</div>
    </div>
    <!-- Most Common Lineups Table -->
    <table class="col-table table-text-left most-common-lineups-table stats-col-table">
      <tr>
        <!-- 1/6-->
        <td>
          <table class="col-table-inner-table table-bordered col-table-first">
            <thead>
            <tr>
              <td>4 Games</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of teamLineup.team.common_lineups[0].lineup;">
              <td>
                <span class="player-batting-order">{{player.batting_order}}.</span>
                <span class="player-name">{{player.name}}</span>
                <span class="player-batting-hand">(*R)</span>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
        <!-- 2/6-->
        <td>
          <table class="col-table-inner-table table-bordered">
            <thead>
            <tr>
              <td>3 Games</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of teamLineup.team.common_lineups[1].lineup;">
              <td>
                <span class="player-batting-order">{{player.batting_order}}.</span>
                <span class="player-name">{{player.name}}</span>
                <span class="player-batting-hand">(*R)</span>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
        <!-- 3/6-->
        <td>
          <table class="col-table-inner-table table-bordered">
            <thead>
            <tr>
              <td>2 Games</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of teamLineup.team.common_lineups[2].lineup;">
              <td>
                <span class="player-batting-order">{{player.batting_order}}.</span>
                <span class="player-name">{{player.name}}</span>
                <span class="player-batting-hand">(*R)</span>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
        <!-- 4/6-->
        <td>
          <table class="col-table-inner-table table-bordered">
            <thead>
            <tr>
              <td>2 Games</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of teamLineup.team.common_lineups[3].lineup;">
              <td>
                <span class="player-batting-order">{{player.batting_order}}.</span>
                <span class="player-name">{{player.name}}</span>
                <span class="player-batting-hand">(*R)</span>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
        <!-- 5/6-->
        <td>
          <table class="col-table-inner-table table-bordered">
            <thead>
            <tr>
              <td>2 Games</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of teamLineup.team.common_lineups[4].lineup;">
              <td>
                <span class="player-batting-order">{{player.batting_order}}.</span>
                <span class="player-name">{{player.name}}</span>
                <span class="player-batting-hand">(*R)</span>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
        <!-- 6/6-->
        <td>
          <table class="col-table-inner-table table-bordered">
            <thead>
            <tr>
              <td>2 Games</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of teamLineup.team.common_lineups[5].lineup;">
              <td>
                <span class="player-batting-order">{{player.batting_order}}.</span>
                <span class="player-name">{{player.name}}</span>
                <span class="player-batting-hand">(*R)</span>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table> <!-- END: Most Common Lineups Table -->

  </div>
  <!-- Current Year Lineups -->
  <div class="starting-lineup-section">
    <div class="team-lineup-starting-header">
      <div class="page-heading-two fluid-heading">{{activeYear}} Lineups</div>
      <!-- Yearly -->
      <div ngbDropdown class="dropdown page-heading-right-dropdown">
        <button type="button" class="page-heading-dropdown btn btn-secondary" id="statYearSelect" ngbDropdownToggle>
          <span>{{activeYear}}</span> <img class="down-arrow" src="/assets/images/arrow-down.png" />
        </button>
        <div class="dropdown-menu" aria-labelledby="statYearSelect">
          <div *ngFor="let year of yearOptions">
            <a (click)="onChangeYear(year)"
               [ngClass]="{'active-dropdown-value': activeYear == year}"
               class="dropdown-item"
            >{{year}}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Yearly Lineups Table -->
    <table class="table table-bordered most-common-lineups-table stats-table">
      <thead>
      <tr>
        <th>Game</th>
        <th>Score</th>
        <th>Starting Pitcher</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let recentLineup of teamLineup.team.recent_lineups">
        <td>
          <span class="game-date">{{recentLineup.game.date | date:'M'}}/{{recentLineup.game.date | date:'y' | slice:2}}</span>
          <span class="game-opp">at {{recentLineup.game.opponent}}</span>
        </td>
        <td>{{recentLineup.score.outcome}} {{recentLineup.score.team_runs}}-{{recentLineup.score.opp_runs}}</td>
        <td>{{recentLineup.starting_pitcher.pitcher_name}} ({{recentLineup.starting_pitcher.pitcher_hand}}), {{recentLineup.starting_pitcher.pitcher_innings}} IP, {{recentLineup.starting_pitcher.pitcher_strikeouts}} SO, {{recentLineup.starting_pitcher.pitcher_earned_runs}} ER, {{recentLineup.starting_pitcher.pitcher_outcome}}</td>
        <td>{{recentLineup.one.name}}</td>
        <td>{{recentLineup.two.name}}</td>
        <td>{{recentLineup.three.name}}</td>
        <td>{{recentLineup.four.name}}</td>
        <td>{{recentLineup.five.name}}</td>
        <td>{{recentLineup.six.name}}</td>
        <td>{{recentLineup.seven.name}}</td>
        <td>{{recentLineup.eight.name}}</td>
        <td>{{recentLineup.nine.name}}</td>
      </tr>
      </tbody>
    </table> <!-- END: Yearly Lineups Table -->
  </div>

</div><!-- END: Selected Team Contents [currentTeamTabActive] -->
